@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

.container{
    background:linear-gradient(45deg, blueviolet, lightgreen);
    padding:15px 9%;
    padding-bottom: 100px;
}

.container .heading{
    text-align: center;
    padding-bottom: 15px;
    color:#fff;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px;
}

.container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:15px;
}

.container .box-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding:30px 20px;
}

.container .box-container .box img{
    height: 200px;
    width: 150px;
}
.container .box-container .box h1{
    color:#444;
    font-size: 20px;
    padding:10px 0px;
    text-decoration: none;
}
.container .box-container .box h3{
    color:#444;
    font-size: 12px;
    text-decoration: none;
}

.container .box-container .box p{
    color:#777;
    font-size: 15px;
    line-height: 1.8;
}

.container .box-container .box .btn{
    margin-top: 10px;
    display: inline-block;
    background:#333;
    color:#fff;
    font-size: 10px;
    border-radius: 5px;
    padding: 4px 15px;
}
.container .box-container .box button{
    margin-top: 10px;
    display: inline-block;
    background:aqua;
    color:#fff;
    font-size: 15px;
    border-radius: 5px;
    padding: 8px 25px;
    

}
.download button{
    margin-top: 10px;
    display: inline-block;
    background:aqua;
    color:wheat;
    font-size: 15px;
    border-radius: 5px;
    padding: 8px 25px;
}
.download button a{
    color: sienna;
}

.list{
    text-decoration: none;
    color: aliceblue;
    list-style: decimal;
    text-align: center;

}